@font-face {
    font-family: 'Open-Sans-Bold';
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open-Sans-SemiBold';
    src: url(../fonts/OpenSans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Open-Sans-Light';
    src: url(../fonts/OpenSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'Open-Sans-Regular';
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter/Inter_18pt-Regular.ttf);
}